.excursions__item {
    max-width: 550px;
    background-color: #fff;
    margin: 0 auto;

    &-img {
        width: 100%;
    }

    &-text {
        max-width: 90%;
        padding: 20px;
    }

    &-title {
        color: #6caf4b;
        font-size: 24px;
        font-weight: 400;
    }

    &-desc {
        margin: 8px 4px;
        font-size: 18px;
    }

    &-link {
        display: block;
        width: fit-content;
        margin-left: auto;
        color: #fff;
        background-color: #67ad45;
        padding: 10px 25px;
    }
}