.news__list-item {
    font-family: $font-calibri-family;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-img {
        width: 100%;
        height: auto;
    }

    &-info {
        background-color: #fff;

        &-meta {
            display: flex;
            justify-content: space-between;
            background-color: #ffffffda;
            position: relative;
            top: -12%;
            padding: 6px 10px;
            font-size: 13px;

            @media (max-width: $media-phone) {
                top: -8%;
                font-size: 10px;
            }


            &-link {
                color: #67ad45;
                text-decoration: underline;
            }
        }

        &-title,
        &-desc {
            padding: 0 10px;
        }

        &-title {
            font-size: 20px;
            color: #67ad45;
        }

        &-desc {
            margin: 10px 2px;
            max-height: 112px;
            overflow-y: auto;
        }
    }

    &-link {
        margin-top: 25px;
        display: block;
        background-color: #67ad45;
        color: #fff;
        padding: 15px;
        width: 26%;
        text-align: center;
        margin-left: auto;

        @media (max-width: $media-tablet-landscape) {
            width: 100%;
        }
    }
}