.religion__list-item {
    font-family: $font-calibri-family;
    max-width: 400px;
    background-color: #ebeceb;
    max-height: 700px;

    &-img {
        width: 100%;
        height: auto;
    }

    &-meta {
        width: 100%;
        font-weight: 700;
        text-align: center;
        background-color: #ebececc5;
        position: absolute;
        bottom: 0;
        padding: 15px 0;
    }

    &-wrapper {
        &:nth-child(2n + 1) {
            position: relative;
        }

        &:nth-child(2n + 2) {
            padding: 15px 15px 25px 15px;

            .religion__list-item-wrapper-title {
                margin-bottom: 10px;
            }
            
            .religion__list-item-wrapper-text {
                overflow-y: auto;
                max-height: 300px;
                color: #474c56;
                font-size: 18px;
            }
        }
    }
}