/*
  System font stack used as base sans-serif and monospace
  https://css-tricks.com/snippets/css/system-font-stack/
*/

/*
  Fonts 
*/
$font-arial-family: Arial, system-ui, -apple-system, Roboto, sans-serif;
$font-calibri-family: Calibri, system-ui, -apple-system, Roboto, sans-serif; 
$font-ultraWide-family: "UltramonoWide-Regular";

/*
  Themes fonts
*/
$font-base-family: $font-arial-family;

/*
* Breakpoints
*/

$media-tablet: 768px;
$media-tablet-landscape: 1024px;
$media-desktop: 1200px;

/*
* Colors
*/
$color-header: #000000c2;
$color-header-bg: linear-gradient(90deg, #82c91f 0%, #c6e39e 43%, #eefcda 50%, #c6e39e 57%, #82c91f 100%);