<li class="additional-info__list-item undotted">
    <h3 class="additional-info__list-item-title uppercase">@@title</h3>
    <div class="additional-info__list-item-wrapper">
        <img src="@@imgSrc" alt="@@imgAlt" class="additional-info__list-item-wrapper-img" width="300" height="450">
        <div class="additional-info__list-item-meta @@modificator">
            <p class="additional-info__list-item-meta-subtitle">@@subtitle</p>
            <p class="additional-info__list-item-meta-title">@@metatitle</p>
        </div>
        <p class="additional-info__list-item-text">@@text</p>
        <a href="#" class="additional-info__list-item-link">Подробнее</a>
    </div>
</li>