<footer class="footer">
    <div class="footer__btns container">
        <div class="footer__btns-primary">
            <button class="footer__btns-btn uppercase">Обратная связь</button>
            <button class="footer__btns-btn uppercase">Подписаться на рассылку</button>
        </div>
        <a class="footer__btns-link" href="#">Архив новостей</a>
    </div>
    <div class="footer__about-us">
        <div class="footer__about-us-socials">
            <h2 class="footer__about-us-socials-title">Мы в социальных сетях:</h2>
            <ul class="footer__about-us-socials-list">
                <li class="footer__about-us-socials-item undotted">
                    <a href="#" class="footer__about-us-socials-link">
                        <img src="../../img/icons/vk.png" alt="#" class="footer__about-us-socials-img" width="40" height="40">
                    </a>
                </li>
                <li class="footer__about-us-socials-item undotted">
                    <a href="#" class="footer__about-us-socials-link">
                        <img src="../../img/icons/ok.png" alt="#" class="footer__about-us-socials-img" width="40" height="40">
                    </a>
                </li>
                <li class="footer__about-us-socials-item undotted">
                    <a href="#" class="footer__about-us-socials-link">
                        <img src="../../img/icons/youtube.png" alt="#" class="footer__about-us-socials-img" width="40" height="40">
                    </a>
                </li>
                <li class="footer__about-us-socials-item undotted">
                    <a href="#" class="footer__about-us-socials-link">
                        <img src="../../img/icons/youtube.png" alt="#" class="footer__about-us-socials-img" width="40" height="40">
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__about-us-contacts">
            <h2 class="footer__about-us-contacts-title uppercase">Контактная информация</h2>
            <ul class="footer__about-us-contacts-list">
                <li class="footer__about-us-contacts-item undotted">
                    <a href="tel:88002223344" class="footer__about-us-contacts-link footer__about-us-contacts-link-phone">8 800 222 33 44</a>
                </li>
                <li class="footer__about-us-contacts-item undotted">
                    <a href="mailto:melekes@mail.ru" class="footer__about-us-contacts-link footer__about-us-contacts-link-email">melekes@mail.ru</a>
                </li>
                <li class="footer__about-us-contacts-item undotted">
                    <a href="#" class="footer__about-us-contacts-link footer__about-us-contacts-link-geo">г. Димитровград, ул. Ленина, 37</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__cooperations container">
        <div class="footer__cooperations-main-partners">
            <img src="../../img/partners/melekess-logo_big.png" alt="#" class="footer__cooperations-img" width="280" height="200">
            <img src="../../img/partners/logo_grants.png" alt="#" class="footer__cooperations-img" width="280" height="200">
        </div>
        <div class="footer__cooperations-partners">
            <h3 class="footer__cooperations-list-title">Наши партнёры:</h3>
            <ul class="footer__cooperations-list">
                <li class="footer__cooperations-item undotted">
                    <a href="#" class="footer__cooperations-item-link">
                        <img src="#" alt="#" class="footer__cooperations-item-img" width="200" height="200">
                    </a>
                </li>
                <li class="footer__cooperations-item undotted">
                    <a href="#" class="footer__cooperations-item-link">
                        <img src="#" alt="#" class="footer__cooperations-item-img" width="200" height="200">
                    </a>
                </li>
                <li class="footer__cooperations-item undotted">
                    <a href="#" class="footer__cooperations-item-link">
                        <img src="#" alt="#" class="footer__cooperations-item-img" width="200" height="200">
                    </a>
                </li>
                <li class="footer__cooperations-item undotted">
                    <a href="#" class="footer__cooperations-item-link">
                        <img src="#" alt="#" class="footer__cooperations-item-img" width="200" height="200">
                    </a>
                </li>
                <li class="footer__cooperations-item undotted">
                    <a href="#" class="footer__cooperations-item-link">
                        <img src="#" alt="#" class="footer__cooperations-item-img" width="200" height="200">
                    </a>
                </li>
                <li class="footer__cooperations-item undotted">
                    <a href="#" class="footer__cooperations-item-link">
                        <img src="#" alt="#" class="footer__cooperations-item-img" width="200" height="200">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>