<footer class="footer">
    <div class="footer__btns container">
        <div class="footer__btns-primary">
            <button class="footer__btns-btn uppercase">Обратная связь</button>
            <button class="footer__btns-btn uppercase">Подписаться на рассылку</button>
        </div>
        <a class="footer__btns-link" href="#">Архив новостей</a>
    </div>
    <div class="footer__about-us">
        <div class="footer__about-us-socials">
            <h2 class="footer__about-us-socials-title">Мы в социальных сетях:</h2>
            <ul class="footer__about-us-socials-list">
                <li class="footer__about-us-socials-item undotted">
                    <a href="#" class="footer__about-us-socials-link">
                        <img src="../../img/icons/vk.png" alt="#" class="footer__about-us-socials-img" width="40" height="40">
                    </a>
                </li>
                <li class="footer__about-us-socials-item undotted">
                    <a href="#" class="footer__about-us-socials-link">
                        <img src="../../img/icons/ok.png" alt="#" class="footer__about-us-socials-img" width="40" height="40">
                    </a>
                </li>
                <li class="footer__about-us-socials-item undotted">
                    <a href="#" class="footer__about-us-socials-link">
                        <img src="../../img/icons/youtube.png" alt="#" class="footer__about-us-socials-img" width="40" height="40">
                    </a>
                </li>
                <li class="footer__about-us-socials-item undotted">
                    <a href="#" class="footer__about-us-socials-link">
                        <img src="../../img/icons/youtube.png" alt="#" class="footer__about-us-socials-img" width="40" height="40">
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__about-us-contacts">
            <h2 class="footer__about-us-contacts-title uppercase">Контактная информация</h2>
            <ul class="footer__about-us-contacts-list">
                <li class="footer__about-us-contacts-item undotted">
                    <a href="tel:88002223344" class="footer__about-us-contacts-link footer__about-us-contacts-link-phone">8 800 222 33 44</a>
                </li>
                <li class="footer__about-us-contacts-item undotted">
                    <a href="mailto:melekes@mail.ru" class="footer__about-us-contacts-link footer__about-us-contacts-link-email">melekes@mail.ru</a>
                </li>
                <li class="footer__about-us-contacts-item undotted">
                    <a href="#" class="footer__about-us-contacts-link footer__about-us-contacts-link-geo">г. Димитровград, ул. Ленина, 37</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__our-partners container">
        <img src="../../img/partners/melekess-logo_big.png" alt="Логотип Мелекесъ историко-культурный фонд" class="footer__our-partners-img" width="225" height="150"/>
        <img src="../../img/partners/logo_grants.png" alt="Логотип поддержки фонда призедентских грантов" class="footer__our-partners-img" width="200" height="200"/>
        <div class="footer__our-partners-wrapper">
            <h2 class="footer__our-partners-title">Наши партнёры:</h2>
            <ul class="footer__our-partners-list">
                <li class="footer__out-partners-list-item undotted">
                    <a class="footer__out-partners-link" href="#">
                        <img src="" alt="#" class="footer__our-partners-list-img" width="175" height="115">
                    </a>
                </li>
                <li class="footer__out-partners-list-item undotted">
                    <a class="footer__out-partners-link" href="#">
                        <img src="" alt="#" class="footer__our-partners-list-img" width="175" height="115">
                    </a>
                </li>
                <li class="footer__out-partners-list-item undotted">
                    <a class="footer__out-partners-link" href="#">
                        <img src="" alt="#" class="footer__our-partners-list-img" width="175" height="115">
                    </a>
                </li>
                <li class="footer__out-partners-list-item undotted">
                    <a class="footer__out-partners-link" href="#">
                        <img src="" alt="#" class="footer__our-partners-list-img" width="175" height="115">
                    </a>
                </li>
                <li class="footer__out-partners-list-item undotted">
                    <a class="footer__out-partners-link" href="#">
                        <img src="" alt="#" class="footer__our-partners-list-img" width="175" height="115">
                    </a>
                </li>
                <li class="footer__out-partners-list-item undotted">
                    <a class="footer__out-partners-link" href="#">
                        <img src="" alt="#" class="footer__our-partners-list-img" width="175" height="115">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>