<header class="header">
    <div class="header__wrapper container">
        <div class="header__contact-us">
            <p class="header__title uppercase">Контактная информация</p>
            <ul class="header__contact-us-list">
                <li class="header__contact-us-list-item header__contact-us-phone undotted">
                    <a href="tel:+78002223344" class="header__link" aria-label="Нажав сюда, вы позвоните по телефону 'Димитровград Мелекесс'">8 800 222 33 44</a>
                </li>
                <li class="header__contact-us-list-item header__contact-us-email undotted">
                    <a href="mailto:melekes@mail.ru" class="header__link" aria-label="Нажав сюда, вы напишите на почту 'Димитровград Мелекесс'">melekes@mail.ru</a>
                </li>
            </ul>
        </div>
        <a href="/" class="header__img-link">
            <img src="../../img/content/heaeder_logo.png" class="header__img" alt="Логотип Мелекесс" height="204" width="164">
        </a>
        <div class="header__profile">
            <div class="header__profile-controls">
                <p class="header__title uppercase">Мой профиль</p>
                <ul class="header__profile-list">
                    <li class="header__profile-list-item undotted">
                        <button class="header__profile-btn underline" aria-label="Нажав сюда, вы зарегистрируетесь на нашем сайте">Регистрация</button>
                    </li>                    
                    <li class="header__profile-list-item undotted">
                        <button class="header__profile-btn underline" aria-label="Нажав сюда, вы войдете в свою учетную запись на нашем сайте">Войти</button>
                    </li>
                </ul>
            </div>
            <img src="../../img/icons/header__avatar-women.png" class="header__profile-img" alt="Картинка-аватар пользователя" width="54" height="54">
        </div>
    </div>
    <nav class="header__nav container">
        <ul class="header__nav-list">
            <li class="header__nav-list-item undotted">
                <a class="header__nav-list-link @@city-active" href="/about-city.html" aria-label="Переход в раздел 'О городе'">
                    <!-- Картика будет добавлена через псевдоэлемент -->
                    <p class="header__nav-text">О городе</p>
                </a>
            </li>
            <li class="header__nav-list-item undotted">
                <a class="header__nav-list-link" href="#" aria-label="Переход в раздел 'Новости'">
                    <!-- Картика будет добавлена через псевдоэлемент -->
                    <p class="header__nav-text">Новости</p>
                </a>
            </li>
            <li class="header__nav-list-item undotted">
                <a class="header__nav-list-link" href="#" aria-label="Переход в раздел 'Календарь'">
                    <!-- Картика будет добавлена через псевдоэлемент -->
                    <p class="header__nav-text">Календарь</p>
                </a>
            </li>
            <li class="header__nav-list-item undotted">
                <a class="header__nav-list-link @@excursions-active" href="/excursions.html"  aria-label="Переход в раздел 'Экскурсии'">
                    <!-- Картика будет добавлена через псевдоэлемент -->
                    <p class="header__nav-text">Экскурсии</p>
                </a>
            </li>
            <li class="header__nav-list-item undotted">
                <a class="header__nav-list-link @@turims-active" href="/online-turism.html" aria-label="Переход в раздел 'Online-Туризм'">
                    <!-- Картика будет добавлена через псевдоэлемент -->
                    <p class="header__nav-text">Online-Туризм</p>
                </a>
            </li>
            <li class="header__nav-list-item undotted">
                <a class="header__nav-list-link" href="#" aria-label="Переход в раздел 'Рекомендуем'">
                    <!-- Картика будет добавлена через псевдоэлемент -->
                    <p class="header__nav-text">Рекомендуем</p>
                </a>
            </li>
            <li class="header__nav-list-item undotted">
                <a class="header__nav-list-link @@games-active" href="/games.html" aria-label="Переход в раздел 'Игры'">
                    <!-- Картика будет добавлена через псевдоэлемент -->
                    <p class="header__nav-text">Игры</p>
                </a>
            </li>
            <li class="header__nav-list-item undotted">
                <a class="header__nav-list-link @@gallery-active" href="/gallery.html" aria-label="Переход в раздел 'Галерея'">
                    <!-- Картика будет добавлена через псевдоэлемент -->
                    <p class="header__nav-text">Галерея</p>
                </a>
            </li>
            <li class="header__nav-list-item undotted">
                <a class="header__nav-list-link" href="#" aria-label="Переход в раздел 'Видео'">
                    <!-- Картика будет добавлена через псевдоэлемент -->
                    <p class="header__nav-text">Видео</p>
                </a>
            </li>
            <li class="header__nav-list-item undotted">
                <a class="header__nav-list-link" href="#" aria-label="Переход в раздел 'Персоналии'">
                    <!-- Картика будет добавлена через псевдоэлемент -->
                    <p class="header__nav-text">Персоналии</p>
                </a>
            </li>
            <li class="header__nav-list-item undotted">
                <a class="header__nav-list-link" href="#" aria-label="Переход в раздел 'Библиотека'">
                    <!-- Картика будет добавлена через псевдоэлемент -->
                    <p class="header__nav-text">Библиотека</p>
                </a>
            </li>
            <li class="header__nav-list-item undotted">
                <a class="header__nav-list-link" href="#" aria-label="Переход в раздел 'Карта'">
                    <!-- Картика будет добавлена через псевдоэлемент -->
                    <p class="header__nav-text">Карта</p>
                </a>
            </li>
        </ul>
    </nav>
</header>