<li class="library__wrapper-list-item undotted">
    <img src="@@imgSrc" alt="@@imgAlt" class="library__wrapper-list-item-img" width="250" height="400">
    <div class="library__wrapper-list-item-wrapper">
        <img src="@@formatSrc" alt="@@formatAlt" class="library__wrapper-list-item-wrapper-img" width="50" height="50">
        <div class="library__wrapper-list-item-wrapper-meta">
            <h3 class="library__wrapper-list-item-wrapper-meta-title">@@title</h3>
            <p class="library__wrapper-list-item-wrapper-meta-paragraph">"@@paragraph"</p>
        </div>
        <div class="library__wrapper-list-item-wrapper-download">
            <p class="library__wrapper-list-item-wrapper-download-text">@@download-text</p>
            <a href="#" class="library__wrapper-list-item-wrapper-download-link" download="">
                <img src="./img/icons/download.svg" alt="Кнопка скачивания" class="library__wrapper-list-item-wrapper-download-link-img" width="25" height="25">
            </a>
        </div>
    </div>
</li>