<li class="library__wrapper-list-item undotted">
    <img src="@@imgSrc" alt="@@imgAlt" class="library__wrapper-list-item-img" width="250" height="400">
    <div class="library__wrapper-list-item-wrapper">
        <img src="@@formatSrc" alt="@@formatAlt" class="library__wrapper-list-item-wrapper-img" width="50" height="50">
        <h3 class="library__wrapper-list-item-wrapper-title">@@title</h3>
        <p class="library__wrapper-list-item-wrapper-paragraph">@@paragraph</p>
        <div class="library__wrapper-list-item-wrapper-download">
            <p class="library__wrapper-list-item-wrapper-download-text">@@download-text</p>
            <!-- todo download -->
        </div>
    </div>
</li>