<li class="location undotted" style="background-image: url(@@bgImg)">
    <div class="location__wrapper">
        <img src="@@img" alt="#" class="location__img">
        <h3 class="location__title uppercase" style="color: @@mainColor">@@title</h3>
        <ul class="location__list">
            <li class="location__list-item undotted uppercase">@@item1</li>
            <li class="location__list-item undotted uppercase">@@item2</li>
            <li class="location__list-item undotted uppercase">@@item3</li>
        </ul>
        <button class="location__btn" style="background-color: @@mainColor">Посмотреть все места</button>
    </div>
</li>