<section class="main-slider">
    <h2 class="main-slider__title hidden">Слайдер достопримечательностей</h2>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../../img/content/slide1.jpg" alt="#" class="swiper-slide__img">
            </div>
            <div class="swiper-slide">
                <img src="../../img/content/slide2.jpg" alt="#" class="swiper-slide__img">
            </div>
            <div class="swiper-slide">
                <img src="../../img/content/slide3.jpg" alt="#" class="swiper-slide__img">
            </div>
            <div class="swiper-slide">
                <img src="../../img/content/slide3.jpg" alt="#" class="swiper-slide__img">
            </div>
            <div class="swiper-slide">
                <img src="../../img/content/slide3.jpg" alt="#" class="swiper-slide__img">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</section>