<li class="news__list-item undotted">
    <img src="@@imgSrc" alt="@@imgAlt" class="news__list-item-img" width="300" height="350">
    <div class="news__list-item-info">
        <div class="news__list-item-info-meta">
            <p class="news__list-item-meta-date uppercase">Опубликовано: @@date</p>
            <p class="news__list-item-meta-category uppercase">
                Категория:
                <a href="#" class="news__list-item-info-meta-link">@@category</a>
            </p>
        </div>
        <h2 class="news__list-item-info-title">@@title</h2>
        <p class="news__list-item-info-desc">@@desc</p>
        <a href="" class="news__list-item-link">Подробнее</a>
    </div>
</li>