.excursion {
    &__title {
        &::before {
            background-image: url("../../img/icons/excursions.png");
        }
    }

    &__intro {
        display: flex;
        justify-content: center;
        gap: 60px;

        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 40px;
            max-height: 600px;
            overflow-y: auto;
            padding: 15px 35px;
            max-width: 50%;
            background-color: #ebecec;

            &-header {
                font-family: $font-calibri-family;                
                &-subtitle {
                    font-size: 20px;
                    color: #474c56;
                }
                &-title {
                    margin-top: 15px;
                    font-size: 26px;
                    color: #67ad45;
                }
            }

            &-text {
                font-size: 18px;
                color: #474c56;
            }
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ebecec;

        &-header {
            text-align: center;
            font-family: $font-calibri-family;

            &-title {
                font-size: 26px;
                color: #474c56;
            }

            &-subtitle {
                font-size: 20px;
            }
        }

        &-slider {
            margin-top: 20px auto;
            max-width: 100%;

            &-wrapper {
                overflow: hidden;
            }

            &-inner-wrapper {
                display: flex;
                height: 100%;
                transition: transform ;
            }

            &-slide {
                display: flex;
                flex-shrink: 0;
                height: 465px;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                color: #fff;
                &:nth-child(4n + 1) {
                    background-color: #e08dac;
                }
                &:nth-child(4n + 2) {
                    background-color: #45cb85;
                }
                &:nth-child(4n + 3) {
                    background-color: #f79824;
                }
                &:nth-child(4n + 4) {
                    background-color: crimson;
                }
                &:nth-child(5n + 5) {
                    background-color: green;
                }
            }

            &-pagination {
                display: flex;
                justify-content: center;
                gap: 20px;
                padding: 25px 0;
                flex-wrap: wrap;

                &-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    min-width: 250px;
                    min-height: 250px;
                    border-radius: 50px;
                    border: 4px solid #67ad45;
                    background-size: cover;

                    &::after {
                        font-family: $font-calibri-family;
                        text-align: center;
                        color: #474c56;
                        font-size: 24px;
                        width: 85%;
                    }

                    &-paragraph {
                        width: fit-content;
                        padding: 10px 15px;
                        background-color: #67ad45;
                        border-radius: 25px;
                        color: white;
                        font-weight: 700;
                        margin: 0 auto;
                        align-self: center;
                    }

                    &_active {
                        p {
                            background-color: #f4b601;
                        }
                    }
                }
            }

            &-wrapper {
                background-color: #fff;
            }

            &-controls {
                &-wrapper-button {
                    button {
                        padding: 25px;
                        color: #fff;
                        background-color: #67ad45;
                    }
                }
            }
        }
    }
}